<!DOCTYPE html>
<html>
<head>
	<title>{{headtitle}}</title>
	<meta name="viewport" content="initial-scale=1.0" />
	<meta name="mobile-web-app-capable" content="yes" />
	<link rel="icon" href="/img/icon.png" />
	<link rel="stylesheet" href="/resources/style.css" type="text/css" />
	<script async src="/resources/script.js" type="text/javascript"></script>
</head>
<body{{#cssClass}} class='{{cssClass}}'{{/cssClass}}{{#classType}} data-classtype='{{classType}}'{{/classType}}{{#classID}} data-classid='{{classID}}'{{/classID}}>
	
	
	<h1><span class="innertext" id="pagetitle">{{title}}</span></h1>
	
	<div class="ribbon-wrapper"><div class="ribbon">Beta</div></div>
	<a href="/" class='backtoall'>&lt; Back to All Routes</a>
	<div id='content'>
		{{{content}}}
	</div>
	<footer id='footer' {{#isServiceWorker}}data-refreshable="true"{{/isServiceWorker}}>
		<time id='lastUpdated'>{{lastUpdated}}</span>
	</footer>
</body>
</html>
