<html>
<head>
	<title>LucOS Travel</title>
	<script type='text/javascript' src='http://l42.eu/bootloader'></script>
	<meta name="viewport" content="initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-icon" href="/img/icon"/>
	<link rel="stylesheet" href="/resources/style.css" type="text/css" />
</head>
<body{{#cssClass}} class='{{cssClass}}'{{/cssClass}}>

	<div id='content'>
		{{#parent}}
			<a href="{{link}}" class='nav'>&lt; Back to {{name}}</a>
		{{/parent}}
		
		{{{content}}}
	</div>
	<footer id='footer'></footer>
</body>
</html>
