<!DOCTYPE html>
<html>
<head>
	<title>{{headtitle}}</title>
	<meta name="viewport" content="initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-icon" href="/img/icon.png" />
	<link rel="icon" href="/img/icon.png" />
	<link rel="stylesheet" href="/resources/style.css" type="text/css" />
	<script async src="/resources/script.js" type="text/javascript"></script>
</head>
<body{{#cssClass}} class='{{cssClass}}'{{/cssClass}}>
	
	
	<h1><span class="innertext">{{title}}</span></h1>
	
	<div class="ribbon-wrapper"><div class="ribbon">Beta</div></div>
	<div id='content'>
		{{#parent}}
			<a href="{{link}}" class='nav'>&lt; Back to {{name}}</a>
		{{/parent}}
		
		{{{content}}}
	</div>
	<footer id='footer' {{#isServiceWorker}}data-refreshable="true"{{/isServiceWorker}}>
		{{#lastUpdated}}<time id='lastUpdated' datetime="{{lastUpdate}}">{{lastUpdated}}</span>{{/lastUpdated}}
	</footer>
</body>
</html>
