	<!--<div class='stationlines'>
		{{#lines}}
				<a href="{{link}}" class="line {{cssClass}}"><h3>{{name}}</h3></a>
		{{/lines}}
	</div>-->
	{{#platforms}}
		<div class="platform {{cssClass}}" data-platformid="{{id}}">
			<h3 class='platform_name'><span class='innertext'>{{name}}</span></h3>
			<table class='departure_board'>
			<tbody>
				{{#events}}{{^passed}}
					<tr class="train{{#ghost}} ghost{{/ghost}}" data-line="{{line}}" data-route="{{route}}">
						<td><a href="{{link}}">{{destination}}</a></td>
						<td><a href="{{link}}" class='departtime' data-timestamp='{{timestamp}}'>{{#now}}now{{/now}}{{^now}}{{secondsTo}} seconds{{/now}}</a></td>
					</tr>
				{{/passed}}{{/events}}
			</tbody>
			</table>
		</div>
	{{/platforms}}
