	<!--<div class='stationlines'>
		{{#lines}}
				<a href="{{link}}" class="line {{cssClass}}"><h3>{{name}}</h3></a>
		{{/lines}}
	</div>-->
	{{#platforms}}
		<div class="route {{cssClass}}" data-platformid="{{id}}">
			<h3 class='platform_name'><span class='innertext'>{{name}}</span></h3>
			<table class='departure_board'>
			<tbody>
				{{#events}}
					<tr class="vehicle{{#ghost}} ghost{{/ghost}}" data-line="{{line}}" data-route="{{route}}">
						<td><a href="{{link}}">{{destination}}</a></td>
						<td><a href="{{link}}" class='departtime' data-time='{{time}}' data-source='{{source}}'>{{humanReadableTime}}</a></td>
					</tr>
				{{/events}}
			</tbody>
			</table>
		</div>
	{{/platforms}}

	{{#hasExternalInterchanges}}<h2>Connections from this stop</h2>{{/hasExternalInterchanges}}
	{{#externalInterchanges}}
	<ul class="stoplist">
		<li class="station {{cssClass}}">
			<a href="{{link}}">{{#symbol}}<img src="{{symbol}}" alt="{{network}}" class="symbol" />{{/symbol}}{{title}}</a>
		</li>
	</ul>
	{{/externalInterchanges}}