	<!--<div class='stationlines'>
		{{#lines}}
				<a href="{{link}}" class="line {{cssClass}}"><h3>{{name}}</h3></a>
		{{/lines}}
	</div>-->
	{{#platforms}}
		<div class="route {{cssClass}}" data-platformid="{{classID}}">
			<h3 class='platform_name'><span class='innertext'>{{name}}</span></h3>
			<table class='departure_board'>
			<tbody>
				{{#events}}
					<tr class="vehicle{{#ghost}} ghost{{/ghost}}" data-line="{{line}}" data-route="{{route}}" id="{{classID}}" data-eventtype="station">
						{{#routeNumber}}<td class="routenumber"><a href="{{link}}">{{routeNumber}}</a></td>{{/routeNumber}}
						<td class="destination"><a href="{{link}}">{{simpleDestination}}</a></td>
						<td class="departtime"><a href="{{link}}" class='departtime' data-time='{{time}}' data-source='{{source}}'>{{stationReadableTime}}</a></td>
					</tr>
				{{/events}}
			</tbody>
			</table>
		</div>
	{{/platforms}}

	{{#zone}} <h2>Zone {{zone}}</h2>{{/zone}}
	{{#wifi}} <h2>Has WiFi</h2>{{/wifi}}
	{{#toilet}} <h2>Has Toilet {{toiletnote}}</h2>{{/toilet}}

	{{#hasExternalInterchanges}}<h2>Connections from this stop</h2>{{/hasExternalInterchanges}}
	{{#externalInterchanges}}
	<ul class="stoplist">
		<li class="station {{cssClass}}">
			<a href="{{link}}">{{#symbol}}<img src="{{symbol}}" alt="{{network}}" class="symbol" />{{/symbol}}{{title}}</a>
		</li>
	</ul>
	{{/externalInterchanges}}