	<div id='vehicle' data-line="{{line}}" data-destination="{{destination}}" data-nextstation="{{nextstation}}" data-nexttime="{{nexttime}}" data-nextstationcode="{{nextstationcode}}" class="{{cssClass}}">
		<div class='destination'>Destination: {{destination}}</div>
		<div class='journey'>
			<h3 class='journeyname'><span class='routename'>{{routeName}}</span></h3>
			<ul class='route'>
			{{#events}}
				<li class="stop{{#isinterchange}} interchange{{/isinterchange}}" id="{{id}}" data-eventtype="vehicle">
					{{#isinterchange}}
						<ul class='interchanges'>
						{{#interchanges}}
							{{^ignore}}
							<li class="{{network}} {{cssClass}}">
								<a href="{{link}}">
									{{#symbol}}
										<img src="{{symbol}}" alt="{{network}}" class="symbol" />
									{{/symbol}}
									{{title}}
									{{#stopname}}
										<span class='stopname'>{{stopname}}</span>
									{{/stopname}}
								</a>
							</li>
							{{/ignore}}
						{{/interchanges}}
						</ul>
					{{/isinterchange}}
					{{#platform}}<a href="{{link}}" class='stoptime' data-time='{{time}}' data-source='{{source}}'>{{vehicleReadableTime}}</a><a href="{{link}}"> &gt; {{#stop}}{{simpleName}}{{/stop}} {{platform.name}}</a>{{/platform}}
					<div class='symbols'>
					{{#symbols}}
						<img src="{{src}}" alt="{{alt}}" title="{{alt}}" class="symbol" />
					{{/symbols}}
					</div>
				</li>
			{{/events}}
			{{#continues}}
				<li class='continues'><span class='destination'>Continues to {{destination}}</span></li>
			{{/continues}}
			</ul>
		</div>
	</div>
